* {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

button {
  background-color: transparent;
  width: 120px;
  height: 120px;
  translate: -60px -60px;
  border: 2px solid khaki;
  border-radius: 100%;
}

::slotted(h2) {
  font-weight: 700;
  text-align: center;
  color: khaki;
  user-select: none;
}

::slotted(h2.listed) {
  translate: 60px;
}

::slotted(h2.detail) {
  font-weight: 400;
  color: chocolate;
}