* {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: khaki;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black;
  overflow: hidden;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 4;
}

#bg-net {
  
  position: fixed;
  z-index: 1;
}

#overview {
  position: absolute;
  right: 6rem;
  bottom: 10%;
  background-color: transparent;
  color: khaki;
  border: 0px solid;
  height: 120px;
  width: 120px;
  font-size: 1em;
  z-index: 3;
  user-select: none;
}

#overview:hover {
  font-weight: 700;
  text-decoration-line: underline;
}

@keyframes swing {
  from {translate: 0em;}
  50% { translate: 1em;}
  to {translate: 0em;}
}

#overview p{
  display: inline-block
}
#overview:hover p{
  font-weight: 700;
  animation-name: swing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

gso-sat {
  position: absolute;
  background-color: transparent;
  z-index: 2;
  transition: top 0.5s, left 0.5s;
}

gso-sat[state="listed"]{
  position: static;
  display: flex;
}

gso-sat[state="detail"]{
  height: 100%;
  width: 100%;
  padding: 2em 6em;
  box-sizing: border-box;
}

#sats {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: flex-basis 500ms;
}

#stone {
  position: static;
  width: 100px;
  height: 50px;
}